{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% include "partials/navbar.html.twig" %}
<h2>SAlut le monde</h2>
 <button class="btn">Valider</button>
{% endblock %}
