<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#" style="margin-left: 100px;">SAFIDY ISOTRY</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 25rem;">

		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="#">Client</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Trondro</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Fournisseur</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Livraison</a>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Produits</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Faire le compte</a>
					<a class="dropdown-item" href="#">Voir la liste</a>
				</div>
			</li>


			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Stock</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Gérer les stocks</a>
					<a class="dropdown-item" href="#">Voir la liste</a>
				</div>
			</li>

		</ul>
	</div>
</nav>
