{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<h1 class="text-center mt-3 mb-3">Liste des clients</h1>
	<center>
		<a href="{{ path('creation_client') }}" class="btn btn-primary">Ajouter un client</a>
	</center>

	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Anarana</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for client in clients %}
						<tr>
							<td scope="row">{{ client.nom }}</td>
							<td>
								<a href="#" class="btn btn-info">Informations</a>
								{# <a href="{{ path('modification_clients', {'id': client.id })}}" class="btn btn-success">Modifier</a> #}

							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}
